#header-mobile {
  position: fixed;
  width: 100%;
}

@media (min-width: 0px) {
  #header-mobile {
    display: block;
  }
}

@media (min-width: 450px) {
  #header-mobile {
    display: none;
  }
}

#header-mobile .header-top {
  display: -ms-grid;
  display: grid;
  padding: 10px;
  background: #282828;
  grid-auto-flow: row;
  justify-items: center;
  gap: 5px;
}

#header-mobile .header-top #row {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 0px) {
  #header-mobile .header-top #row {
    grid-auto-flow: column;
    gap: 90px;
  }
}

#header-mobile .header-top #row .bt-log-in {
  border: 2px solid black;
  background: #03A500;
}

@media (min-width: 0px) {
  #header-mobile .header-top #row .bt-log-in {
    width: 80px;
    height: 35px;
    font-size: 20px;
    border-radius: 30px;
  }
}

#header-mobile .header-top #row .bt-log-in a {
  text-decoration: none;
  color: black;
}

#header-mobile .header-top #row .logo {
  border-radius: 50%;
}

@media (min-width: 0px) {
  #header-mobile .header-top #row .logo {
    width: 35px;
  }
}

#header-mobile .header-top .header-title {
  color: white;
}

@media (min-width: 0px) {
  #header-mobile .header-top .header-title {
    font-weight: 600;
    font-size: 30px;
  }
}

#header-mobile .header-menu {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #004700;
}

#header-mobile .header-menu .hamburger {
  display: block;
  cursor: pointer;
  padding: 5px;
}

#header-mobile .header-menu .bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: black;
}

#header-mobile .header-menu .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

#header-mobile .header-menu .hamburger.active .bar:nth-child(1) {
  -webkit-transform: translateY(8px) rotate(45deg);
          transform: translateY(8px) rotate(45deg);
}

#header-mobile .header-menu .hamburger.active .bar:nth-child(3) {
  -webkit-transform: translateY(-8px) rotate(-45deg);
          transform: translateY(-8px) rotate(-45deg);
}

#header-mobile #header-nav {
  position: relative;
  display: block;
  left: -100%;
  gap: 0;
  background-color: #006600;
  width: 100%;
  min-height: 100vh;
  -webkit-transition: .3s;
  transition: .3s;
}

#header-mobile #header-nav div {
  display: none;
  padding: 30px;
  justify-items: center;
  grid-auto-flow: row;
  gap: 30px;
}

#header-mobile #header-nav div .search {
  display: -ms-grid;
  display: grid;
  height: 30px;
  width: 65vw;
  padding-left: 5px;
  font-size: 20px;
  color: black;
  border-radius: 9px;
  border: 2px solid black;
}

#header-mobile #header-nav div .nav-menu {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  gap: 10px;
}

#header-mobile #header-nav div .nav-menu .actual {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65vw;
  padding: 5px 0;
  border-radius: 5px;
  text-decoration: underline;
  background: #03A500;
  color: black;
}

#header-mobile #header-nav div .nav-menu .nav-link {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 65vw;
  padding: 5px 0;
  border-radius: 5px;
  color: white;
  background: #004700;
  text-decoration: none;
}

body.active #header-mobile {
  position: relative;
}

body.active #header-mobile #header-nav {
  left: 0;
}

body.active #header-mobile #header-nav div {
  display: -ms-grid;
  display: grid;
}
/*# sourceMappingURL=header-mobile.css.map */