.header-top {
    //ked je prihlaseny, login nezobrazuje 
    .bt-log-in {
        display: grid;
    }
    //ked nie je prihlaseny, login zobrazuje 
    .bt-log-in {
        display: grid;
    }
    //prihlaseny pouzivatel ma ikonu
    .bt-log-out {
        display: none;
    }
    //neprihlaseny pouzivatel nema ikonu
    .bt-log-out {
        display: none;
    }
}