@media (min-width: 0px) {
  #content {
    padding: 10px;
  }
}
@media (min-width: 500px) {
  #content {
    padding: 20px;
  }
}
#content #activity {
  display: grid;
}
#content #activity .form {
  min-height: 100vh;
}
@media (min-width: 0px) {
  #content #activity .form {
    padding-top: 104px;
  }
}
@media (min-width: 450px) {
  #content #activity .form {
    padding-top: 68px;
  }
}
@media (min-width: 500px) {
  #content #activity .form {
    padding-top: 78px;
  }
}
@media (min-width: 800px) {
  #content #activity .form {
    padding-top: 98px;
  }
}
#content #activity .form .buttons-arrow {
  margin-bottom: 10px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
#content #activity .form .buttons-arrow .bt-arrow {
  display: grid;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  border-radius: 10px;
  color: black;
  background: #BFBFBF;
  font-weight: 600;
  text-decoration: none;
}
#content #activity .form .buttons-arrow .bt-arrow img {
  width: 30px;
}
#content #activity .form .form-content {
  display: grid;
  justify-content: center;
  gap: 25px;
}
#content #activity .form .form-content .form-title {
  padding: 5px 25px;
  display: grid;
  justify-content: center;
  background: #000000;
  color: white;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 32px;
  text-align: center;
}
#content #activity .form .form-content form {
  display: grid;
  justify-content: center;
  gap: 10px;
  background: #A5CE00;
  border-radius: 10px;
}
@media (min-width: 0px) {
  #content #activity .form .form-content form {
    padding: 10px;
  }
}
@media (min-width: 500px) {
  #content #activity .form .form-content form {
    padding: 25px;
  }
}
#content #activity .form .form-content form select {
  display: grid;
  justify-content: left;
  gap: 5px;
  font-weight: 600;
  color: #000000;
  background: #bdea4b;
  border: 1px solid #000000;
  border-radius: 10px;
}
@media (min-width: 0px) {
  #content #activity .form .form-content form select {
    padding: 2px;
    font-size: 12px;
  }
}
@media (min-width: 280px) {
  #content #activity .form .form-content form select {
    padding: 5px;
    font-size: 18px;
  }
}
@media (min-width: 500px) {
  #content #activity .form .form-content form select {
    padding: 10px;
    font-size: 25px;
  }
}
#content #activity .form .form-content form select option {
  color: #000000;
  background: #c2c2c2;
}
@media (min-width: 0px) {
  #content #activity .form .form-content form select option {
    padding: 2px;
    font-size: 12px;
  }
}
@media (min-width: 280px) {
  #content #activity .form .form-content form select option {
    padding: 5px;
    font-size: 18px;
  }
}
@media (min-width: 500px) {
  #content #activity .form .form-content form select option {
    padding: 10px;
    font-size: 25px;
  }
}
#content #activity .form .form-content form .bt-save {
  display: grid;
  justify-items: center;
  padding: 10px;
  font-weight: 600;
  font-size: 25px;
  background: rgb(0, 207, 0);
  border-radius: 15px;
  border: none;
}
#content #activity .form .rText {
  padding: 5px;
  font-size: 20px;
  background: red;
  color: whitesmoke;
  border-radius: 10px;
}
#content #activity .form .gText {
  padding: 5px;
  font-size: 20px;
  background: green;
  color: whitesmoke;
  border-radius: 10px;
}
#content #activity .form .oText {
  padding: 5px;
  font-size: 20px;
  background: orange;
  color: whitesmoke;
  border-radius: 10px;
}
#content #activity #cali .form-title {
  color: #000;
  background: #e27e0c;
}
#content #activity #stretch .form-title {
  color: #000;
  background: #00C500;
}