#content {
    padding: 20px;
    min-height: 100vh;
    //
    @media(min-width: 0px) {
        padding-top: 140px;
    }
    @media(min-width: 450px) {
        padding-top: 105px;
    }
    @media(min-width: 500px) {
        padding-top: 110px;
    }
    @media(min-width: 800px) {
        padding-top: 125px;
    }
    //
    #back {
        display: grid;
        text-align: left;
        width: 75px;
        padding: 10px;
        margin-top: 10px;
        font-size: 25px;
        border-radius: 10px;
        color: black;
        background: #BFBFBF;
        font-weight: 600;
        text-decoration: none;
    }

    #type {
        #main {
            min-height: 100vh;
            #content-title {
                display: grid;
                justify-content: center;
                font-weight: 600;
                font-size: 35px;
            }
            #type-info {
                //margin-top: 25px;
                font-size: 25px;
            }
            .exercise-title {
                font-weight: 600;
                font-size: 30px;
            }
            .exercise-info {
                font-size: 25px;
            }
            #exercises {
                display: grid;
                grid-auto-flow: column;
                justify-content: start;
                gap: 10px;
                padding-top: 10px;
                font-size: 25px;

                .ex-kinds-title {

                }
                .ex-kinds-kinds {

                    .ex-kinds-kind {

                    }
                }
            }

            #types-of-type {
                padding-top: 20px;
                font-size: 25px;
                
                #types-ex-title {
                    font-weight: 600;
                }

                #types-ex-list {
                    display: grid;
                    gap: 5px;

                    .type-ex {
                        color: black;
                    }
                }
            }
        }
        .exercise {
            min-height: 100vh;

            @media(min-width: 0px) {
                padding-top: 140px;
            }
            @media(min-width: 450px) {
                padding-top: 105px;
            }
            @media(min-width: 500px) {
                padding-top: 110px;
            }
            @media(min-width: 800px) {
                padding-top: 125px;
            }

            .exercise-title {
                font-weight: 600;
                font-size: 30px;
            }

            .exercise-info {
                font-size: 25px;
                padding-bottom: 20px;
            }
            
            ul {
                padding-left: 20px;


                li {

                    .exercises {
                        font-size: 25px;
                        font-weight: 600;
                    }
    
                    .info {
                        font-size: 25px;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}