#content {
    //min-height: 100vh;
    padding: 20px;
    // denna aktivita
    #plan {
        //padding-top: 20px;
        display: grid;
        //gap: 120px;
        //
        #main {
            min-height: 100vh;
            //
            @media(min-width: 0px) {
                padding-top: 150px;
            }
            @media(min-width: 450px) {
                padding-top: 115px;
            }
            @media(min-width: 500px) {
                padding-top: 120px;
            }
            @media(min-width: 800px) {
                padding-top: 135px;
            }
            // uvod
            #main-content {
                display: grid;
                justify-items: center;
                gap: 10px;
                // nadpis
                #content-title {
                    padding: 10px;
                    display: grid;
                    justify-items: center;
                    background: #FFC700;
                    color: #000;
                    border-radius: 10px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    font-size: 35px;
                    text-align: center;
                }
                // kratke informacie
                #plan-content {
                    display: grid;
                    justify-items: center;
                    font-size: 25px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    text-align: center;
                }
            }
            //
            #filter {
                display: grid;
                justify-items: center;
                //
                .rText {
                    padding: 5px;
                    font-size: 20px;
                    background: red;
                    color: whitesmoke;
                    border-radius: 10px;
                }
                .weight {
                font-size: 20px;
                font-weight: 600;
                }
            }
            // tabulka treningovy plan
            #table-plan {
                padding: 15px;
                display: grid;
                justify-content: center;
                background: #A5CE00;
                border-radius: 25px;
                //
                tr {
                    //border-radius: 10px;
                    //border: 1px solid black;
                    //border-collapse: collapse;
                    //
                    td {
                        padding: 5px;
                        //margin: 5px;
                        font-weight: 700;
                        font-size: 30px;
                        border-radius: 10px;
                        border: 1px solid black;
                        border-collapse: collapse;
                    }
                    //
                    #zeroBunka {
                        background: #00000000;
                    }
                    //
                    #mainBunka {
                        @media(min-width: 0px){

                        }
                        @media(min-width: 350px){
                            width: 50vw;
                        }
                        @media(min-width: 0px){}
                        @media(min-width: 0px){}
                    }
                }
            }
            //vysvetlivky
            #explanations {
                max-width: 350px;
                padding: 5px;
                margin-top: 100px;
                display: grid;
                justify-content: left;
                gap: 10px;
                border-radius: 5px;
                border: 5px dotted rgb(42, 42, 42);
                background: rgb(175, 175, 175);
                //poznamka k vysvetlivke
                .note {
                    display: grid;
                    justify-items: left;
                    font-size: 25px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                }
                //
                .cali {
                    padding: 5px;
                    background: rgba(255, 166, 0, 0.548);
                    border-radius: 5px;
                }
                //
                .stre {
                    padding: 5px;
                    background: rgba(0, 255, 0, 0.534);
                    border-radius: 5px;
                }
            }
            // sipky na posun
            .buttons-arrow {
                display: grid;
                grid-auto-flow: column;
                justify-content: space-between;

                @media(min-width: 0px) {
                    margin-bottom: 10px;
                }
                @media(min-width: 450px) {
                    margin-bottom: 0;
                }
                // sipka
                .bt-arrow {
                    display: grid;
                    padding: 10px;
                    font-family: 'Inter', sans-serif;
                    font-size: 25px;
                    border-radius: 10px;
                    color: black;
                    background: #BFBFBF;
                    font-weight: 600;
                    text-decoration: none;
                    // obrazok sipky
                    img {
                        width: 30px;
                    }
                }
            }
        }
    }
}