#content {
  min-height: 100vh;
  padding: 20px;
}

@media (min-width: 0px) {
  #content {
    padding-top: 150px;
  }
}

@media (min-width: 450px) {
  #content {
    padding-top: 115px;
  }
}

@media (min-width: 500px) {
  #content {
    padding-top: 120px;
  }
}

@media (min-width: 800px) {
  #content {
    padding-top: 135px;
  }
}

#content #database {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

#content #database form {
  margin-top: 10px;
  display: -ms-grid;
  display: grid;
  gap: 5px;
}
