//hlavicka pre sirku ako maju mobily
#header-mobile {
    position: fixed;
    width: 100%;
    font-family: 'Inter', sans-serif;
    //viditelne len na mobiloch
    @media(min-width: 0px) {
        display: block;
    }
    //vacsia sirka skryje
    @media(min-width: 450px) {
        display: none;
    }
    //horna cast hlavicky
    .header-top {
        display: grid;
        padding: 10px;
        background: #282828;
        //
        grid-auto-flow: row;
        justify-items: center;
        gap: 5px;
        //
        #row {
            display: grid;
            //
            @media(min-width: 0px) {
                grid-auto-flow: column;
                gap: 40px;
            }

            @media(min-width: 300px) {
                grid-auto-flow: column;
                gap: 90px;
            }
            // prihlaseny pouzivatel
            .loginsM {
                display: grid;
                grid-auto-flow: row;
                justify-items: left;
                // tlacidlo prihlaseneho
                .bt-logedM {
                    display: grid;
                    padding: 5px;
                    font-weight: 600;
                    font-size: 20px;
                    color: white;
                    background: #0E7619;
                    border: 0;
                    border-radius: 50%;
                    cursor: pointer;
                }
                // menu prihlaseneho
                .ham-settingsM {
                    padding: 5px 15px;
                    margin-top: 33px;
                    position: absolute;
                    display: none;
                    background: #D9D9D9;
                    border: 1px solid #000000;
                    border-radius: 10px;
        
                    .name {
                        display: grid;
                        justify-content: center;
                        font-weight: 400;
                        font-size: 25px;
                        text-decoration: underline;
                        color: black;
                    }
                    .profile {
                        margin-top: 5px;
                        display: grid;
                        justify-content: left;
                        font-weight: 400;
                        font-size: 20px;
                        text-decoration: none;
                        color: black;
                    }
                    .log-out {
                        margin-top: 15px;
                        display: grid;
                        justify-content: center;
                        font-weight: 400;
                        font-size: 20px;
                        text-decoration: none;
                        color: black;
                        background: #B6B6B6;
                        border: 1px solid #000000;
                        border-radius: 5px;
                    }
                }
                // stlacene tlacidlo prihlaseneho, zobrazi menu prihlaseneho
                .ham-settingsM.active {
                    display: grid;
                }
            }
            //
            .bt-log-in {
                border: 2px solid black;
                background: #03A500;
                text-decoration: none;
                color: black;
                //
                @media(min-width: 0px) {
                    padding: 5px;
                    font-size: 20px;
                    border-radius: 30px;
                }
            }
            //
            .logo {
                border-radius: 50%;
                //
                @media(min-width: 0px) {
                    width: 35px;
                }
            }
        }
        //
        .header-title {
            color: white;
            //
            @media(min-width: 0px) {
                font-weight: 500;
                font-size: 25px;
            }

            @media(min-width: 300px) {
                font-weight: 600;
                font-size: 30px;
            }
        }
    }
    //hamburger menu
    #header-nav {
        padding: 5px;
        display: grid;
        justify-content: center;
        background-color: #006600;

        .search {
            height: 30px;
            width: 65vw;
            padding-left: 5px;
            font-size: 20px;
            color: black;
            border-radius: 9px;
            border: 2px solid black;
        }
    }
    //
}
