#content {
    padding: 20px;
    min-height: 100vh;
    //
    @media(min-width: 0px) {
        padding-top: 140px;
    }
    @media(min-width: 450px) {
        padding-top: 130px;
    }
    @media(min-width: 500px) {
        padding-top: 140px;
    }
    @media(min-width: 800px) {
        padding-top: 115px;
    }
    //
    #content-title {
        display: grid;
        justify-content: center;
        font-weight: 600;
        font-size: 35px;
    }
    #main-info {
        font-size: 25px;
    }
}