#content {
    padding: 20px;
    min-height: 100vh;
    //
    @media(min-width: 0px) {
        padding-top: 130px;
    }
    @media(min-width: 300px) {
        padding-top: 138px;
    }
    @media(min-width: 510px) {
        padding-top: 132px;
    }
    @media(min-width: 900px) {
        padding-top: 128px;
    }
    //
    #content-title {
        display: grid;
        justify-content: center;
        font-weight: 600;
        font-size: 35px;
    }
    #main {
        display: grid;
        justify-items: center;
        gap: 75px;

        #info {
            display: grid;
            justify-content: center;
            font-size: 25px;
        }

        #home-sportsman {
            display: grid;
            justify-items: center;
            border-radius: 50px;

            @media(min-width: 0px) {
                width: 75vw;
            }
            @media(min-width: 550px) {
                width: 400px;
            }
        }
    }
}