#content {
  padding: 20px;
  min-height: 100vh;
}
@media (min-width: 0px) {
  #content {
    padding-top: 130px;
  }
}
@media (min-width: 300px) {
  #content {
    padding-top: 138px;
  }
}
@media (min-width: 510px) {
  #content {
    padding-top: 97px;
  }
}
@media (min-width: 900px) {
  #content {
    padding-top: 128px;
  }
}
#content #exercises #main {
  min-height: 100vh;
  margin-bottom: 150px;
}
#content #exercises #main #content-title {
  display: grid;
  justify-content: center;
  font-weight: 600;
  font-size: 35px;
}
#content #exercises #main #exercises-info {
  font-size: 25px;
}
#content #exercises #main .exercise-title {
  font-weight: 600;
  font-size: 30px;
}
#content #exercises #main .exercise-info {
  font-size: 25px;
}
#content #exercises #main .exercise-kinds {
  margin-top: 25px;
  display: grid;
  grid-auto-flow: column;
  justify-items: start;
  gap: 12px;
  font-size: 25px;
}
@media (min-width: 0px) {
  #content #exercises #main .exercise-kinds {
    grid-auto-flow: row;
    justify-items: center;
  }
}
@media (min-width: 600px) {
  #content #exercises #main .exercise-kinds {
    grid-auto-flow: row;
    justify-items: left;
  }
}
#content #exercises #main .exercise-kinds .ex-kinds-title {
  margin-top: 20px;
  padding: 5px;
  display: grid;
  background: rgb(56, 56, 56);
  color: whitesmoke;
  border-radius: 10px;
}
@media (min-width: 0px) {
  #content #exercises #main .exercise-kinds .ex-kinds-title {
    justify-items: center;
  }
}
@media (min-width: 600px) {
  #content #exercises #main .exercise-kinds .ex-kinds-title {
    justify-items: left;
  }
}
#content #exercises #main .exercise-kinds .ex-kinds-kinds {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}
@media (min-width: 0px) {
  #content #exercises #main .exercise-kinds .ex-kinds-kinds {
    grid-template-columns: repeat(1, auto);
    justify-items: center;
  }
}
@media (min-width: 600px) {
  #content #exercises #main .exercise-kinds .ex-kinds-kinds {
    grid-template-columns: repeat(2, auto);
    justify-items: left;
  }
}
@media (min-width: 1000px) {
  #content #exercises #main .exercise-kinds .ex-kinds-kinds {
    grid-template-columns: repeat(3, auto);
    justify-items: left;
  }
}
@media (min-width: 1300px) {
  #content #exercises #main .exercise-kinds .ex-kinds-kinds {
    grid-template-columns: repeat(4, auto);
    justify-items: left;
  }
}
#content #exercises #main .exercise-kinds .ex-kinds-kinds .ex-kinds-kind {
  padding: 5px;
  color: black;
  background: white;
  border-radius: 15px;
}
#content #exercises #main .exercise-kinds .ex-kinds-kinds .be-af {
  background: yellow;
}
#content #exercises #main .exercise-kinds .ex-kinds-kinds .cali {
  background: #F89500;
}
#content #exercises #main .exercise-kinds .ex-kinds-kinds .stre {
  background: #05F800;
}
#content #exercises .exercise {
  padding: 15px;
  margin-bottom: 150px;
  min-height: 100vh;
  background: gray;
  border-radius: 10px;
}
@media (min-width: 0px) {
  #content #exercises .exercise {
    padding-top: 130px;
  }
}
@media (min-width: 300px) {
  #content #exercises .exercise {
    padding-top: 138px;
  }
}
@media (min-width: 510px) {
  #content #exercises .exercise {
    padding-top: 97px;
  }
}
@media (min-width: 900px) {
  #content #exercises .exercise {
    padding-top: 128px;
  }
}
#content #exercises .exercise .exercise-title {
  font-weight: 600;
  font-size: 30px;
}
#content #exercises .exercise .exercise-info {
  font-size: 25px;
}
#content #exercises .exercise .exercise-kinds {
  display: grid;
  grid-auto-flow: column;
  gap: 12px;
  font-size: 25px;
}
@media (min-width: 0px) {
  #content #exercises .exercise .exercise-kinds {
    grid-auto-flow: row;
    justify-items: center;
  }
}
@media (min-width: 600px) {
  #content #exercises .exercise .exercise-kinds {
    grid-auto-flow: row;
    justify-items: left;
  }
}
#content #exercises .exercise .exercise-kinds .ex-kinds-title {
  padding: 5px;
  margin-top: 20px;
  display: grid;
  background: rgb(56, 56, 56);
  color: whitesmoke;
  border-radius: 10px;
}
@media (min-width: 0px) {
  #content #exercises .exercise .exercise-kinds .ex-kinds-title {
    justify-items: center;
  }
}
@media (min-width: 600px) {
  #content #exercises .exercise .exercise-kinds .ex-kinds-title {
    justify-items: left;
  }
}
#content #exercises .exercise .exercise-kinds .ex-kinds-kinds {
  display: grid;
  grid-auto-flow: row;
  gap: 10px;
}
@media (min-width: 0px) {
  #content #exercises .exercise .exercise-kinds .ex-kinds-kinds {
    grid-template-columns: repeat(1, auto);
    justify-items: center;
  }
}
@media (min-width: 600px) {
  #content #exercises .exercise .exercise-kinds .ex-kinds-kinds {
    grid-template-columns: repeat(2, auto);
    justify-items: left;
  }
}
@media (min-width: 1200px) {
  #content #exercises .exercise .exercise-kinds .ex-kinds-kinds {
    grid-template-columns: repeat(3, auto);
    justify-items: left;
  }
}
@media (min-width: 1600px) {
  #content #exercises .exercise .exercise-kinds .ex-kinds-kinds {
    grid-template-columns: repeat(4, auto);
    justify-items: left;
  }
}
@media (min-width: 2000px) {
  #content #exercises .exercise .exercise-kinds .ex-kinds-kinds {
    grid-template-columns: repeat(5, auto);
    justify-items: left;
  }
}
#content #exercises .exercise .exercise-kinds .ex-kinds-kinds .ex-kinds-kind {
  padding: 5px;
  color: black;
  background: white;
  border-radius: 15px;
}
#content #exercises .exercise .view-more {
  display: none;
  padding-top: 500px;
  font-size: 25px;
  color: black;
}
#content #exercises #before-and-after {
  background: rgb(231, 231, 0);
}
#content #exercises #calisthenics {
  background: rgb(227, 151, 0);
}
#content #exercises #flexibility {
  background: rgb(21, 210, 0);
}