#content {
    padding: 20px;
    min-height: 100vh;
    //
    @media(min-width: 0px) {
        padding-top: 130px;
    }
    @media(min-width: 300px) {
        padding-top: 138px;
    }
    @media(min-width: 510px) {
        padding-top: 97px;
    }
    @media(min-width: 900px) {
        padding-top: 128px;
    }
    //
    #exercises {
        #main {
            min-height: 100vh;
            margin-bottom: 150px;
            #content-title {
                display: grid;
                justify-content: center;
                font-weight: 600;
                font-size: 35px;
            }
            #exercises-info {
                font-size: 25px;
            }
            .exercise-title {
                font-weight: 600;
                font-size: 30px;
            }
            .exercise-info {
                font-size: 25px;
            }
            .exercise-kinds {
                margin-top: 25px;
                display: grid;
                grid-auto-flow: column;
                justify-items: start;
                gap: 12px;
                font-size: 25px;

                @media(min-width: 0px) {
                    grid-auto-flow: row;
                    justify-items: center;
                }
                @media(min-width: 600px) {
                    grid-auto-flow: row;
                    justify-items: left;
                }

                .ex-kinds-title {
                    //max-width: 65px;
                    margin-top: 20px;
                    padding: 5px;
                    display: grid;
                    background: rgb(56, 56, 56);
                    color: whitesmoke;
                    border-radius: 10px;
                    @media(min-width: 0px) {
                        justify-items: center;
                    }

                    @media(min-width: 600px) {
                        justify-items: left;
                    }
                }

                .ex-kinds-kinds {
                    display: grid;
                    grid-auto-flow: row;
                    gap: 10px;

                    @media(min-width: 0px) {
                        grid-template-columns: repeat(1, auto);
                        justify-items: center;
                    }

                    @media(min-width: 600px) {
                        grid-template-columns: repeat(2, auto);
                        justify-items: left;
                    }

                    @media(min-width: 1000px) {
                        grid-template-columns: repeat(3, auto);
                        justify-items: left;
                    }

                    @media(min-width: 1300px) {
                        grid-template-columns: repeat(4, auto);
                        justify-items: left;
                    }

                    .ex-kinds-kind {
                        padding: 5px;
                        color: black;
                        background: white;
                        border-radius: 15px;
                    }
                    .be-af {
                        background: yellow;
                    }
                    .cali {
                        background: #F89500;
                    }
                    .stre {
                        background: #05F800;
                    }
                    .ba-st {
                        //background: #05F800;
                    }
                }
            }
        }
        .exercise {
            padding: 15px;
            margin-bottom: 150px;
            min-height: 100vh;
            background: gray;
            border-radius: 10px;
            @media(min-width: 0px) {
                padding-top: 130px;
            }
            @media(min-width: 300px) {
                padding-top: 138px;
            }
            @media(min-width: 510px) {
                padding-top: 97px;
            }
            @media(min-width: 900px) {
                padding-top: 128px;
            }
            //
            .exercise-title {
                font-weight: 600;
                font-size: 30px;
            }
            .exercise-info {
                font-size: 25px;
            }
            .exercise-kinds {
                display: grid;
                grid-auto-flow: column;
                gap: 12px;
                font-size: 25px;
                @media(min-width: 0px) {
                    grid-auto-flow: row;
                    justify-items: center;
                }
                @media(min-width: 600px) {
                    grid-auto-flow: row;
                    justify-items: left;
                }
                .ex-kinds-title {
                    padding: 5px;
                    margin-top: 20px;
                    display: grid;
                    background: rgb(56, 56, 56);
                    color: whitesmoke;
                    border-radius: 10px;
                    @media(min-width: 0px) {
                        justify-items: center;
                    }

                    @media(min-width: 600px) {
                        justify-items: left;
                    }
                }
                .ex-kinds-kinds {
                    display: grid;
                    grid-auto-flow: row;
                    gap: 10px;

                    @media(min-width: 0px) {
                        grid-template-columns: repeat(1, auto);
                        justify-items: center;
                    }
                    @media(min-width: 600px) {
                        grid-template-columns: repeat(2, auto);
                        justify-items: left;
                    }
                    @media(min-width: 1200px) {
                        grid-template-columns: repeat(3, auto);
                        justify-items: left;
                    }
                    @media(min-width: 1600px) {
                        grid-template-columns: repeat(4, auto);
                        justify-items: left;
                    }
                    @media(min-width: 2000px) {
                        grid-template-columns: repeat(5, auto);
                        justify-items: left;
                    }
                    .ex-kinds-kind {
                        padding: 5px;
                        color: black;
                        background: white;
                        border-radius: 15px;
                    }
                }
            }

            .view-more {
                display: none;
                padding-top: 500px;
                font-size: 25px;
                color: black;
            }
        }
        #before-and-after {
            background: rgb(231, 231, 0);
        }
        #calisthenics {
            background: rgb(227, 151, 0);
        }
        #flexibility {
            background: rgb(21, 210, 0);
        }
    }
}