#content {
  padding: 20px;
}
#content #advice {
  display: grid;
}
#content #advice #main {
  min-height: 100vh;
}
@media (min-width: 0px) {
  #content #advice #main {
    padding-top: 130px;
  }
}
@media (min-width: 450px) {
  #content #advice #main {
    padding-top: 105px;
  }
}
@media (min-width: 500px) {
  #content #advice #main {
    padding-top: 110px;
  }
}
@media (min-width: 800px) {
  #content #advice #main {
    padding-top: 125px;
  }
}
#content #advice #main #main-content {
  display: grid;
  justify-items: center;
  gap: 10px;
}
#content #advice #main #main-content #content-title {
  padding: 10px;
  display: grid;
  justify-items: center;
  background: #F89500;
  color: #000;
  border-radius: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
}
#content #advice #main #main-content #hello-user {
  padding: 10px;
  display: grid;
  justify-items: center;
  font-size: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  text-align: center;
}
#content #advice #main #advice-list {
  padding-top: 25px;
  display: grid;
  justify-items: left;
  grid-auto-flow: row;
  gap: 15px;
  font-size: 25px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  text-align: left;
}
#content #advice #main #advice-list .weight {
  font-weight: 600;
}
#content #advice #main #advice-list .improve {
  font-weight: 600;
}
#content #advice #main #advice-list .status {
  padding: 5px;
  font-weight: 400;
  border-radius: 8px;
}
#content #advice #main #advice-list .beginner {
  background: yellow;
}
#content #advice #main #advice-list .intermediate {
  background: rgb(13, 143, 13);
}
#content #advice #main #advice-list .advanced {
  background: rgb(29, 132, 201);
}
#content #advice #main #advice-list .daily {
  padding: 5px;
  background: #ffc04a;
  border-radius: 5px;
}
#content #advice .buttons-arrow {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
@media (min-width: 0px) {
  #content #advice .buttons-arrow {
    margin-bottom: 10px;
  }
}
@media (min-width: 450px) {
  #content #advice .buttons-arrow {
    margin-bottom: 0;
  }
}
#content #advice .buttons-arrow .bt-arrow {
  display: grid;
  padding: 10px;
  font-family: "Inter", sans-serif;
  font-size: 25px;
  border-radius: 10px;
  color: black;
  background: #BFBFBF;
  font-weight: 600;
  text-decoration: none;
}
#content #advice .buttons-arrow .bt-arrow img {
  width: 30px;
}