#content {
    //min-height: 100vh;
    padding: 20px;
    // rada
    #advice {
        //padding-top: 20px;
        display: grid;
        //gap: 120px;
        //
        #main {
            min-height: 100vh;
            //
            @media(min-width: 0px) {
                padding-top: 130px;
            }
            @media(min-width: 450px) {
                padding-top: 105px;
            }
            @media(min-width: 500px) {
                padding-top: 110px;
            }
            @media(min-width: 800px) {
                //padding-top: 85px;
                padding-top: 125px;
            }
            // uvod
            #main-content {
                display: grid;
                justify-items: center;
                gap: 10px;
                // nadpis
                #content-title {
                    padding: 10px;
                    display: grid;
                    justify-items: center;
                    background: #F89500;
                    color: #000;
                    border-radius: 10px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    font-size: 35px;
                    text-align: center;
                }
                // kratke informacie
                #hello-user {
                    display: grid;
                    justify-items: center;
                    font-size: 25px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    text-align: center;
                }
            }
            // rady
            #advice-list {
                display: grid;
                justify-items: left;
                //grid-auto-flow: column;
                font-size: 25px;
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                text-align: left;

                .advice {
                    
                }
            }
        }
        // sipky na posun
        .buttons-arrow {
            display: grid;
            grid-auto-flow: column;
            justify-content: space-between;

            @media(min-width: 0px) {
                margin-bottom: 10px;
            }
            @media(min-width: 450px) {
                margin-bottom: 0;
            }
            // sipka
            .bt-arrow {
                display: grid;
                padding: 10px;
                font-family: 'Inter', sans-serif;
                font-size: 25px;
                border-radius: 10px;
                color: black;
                background: #BFBFBF;
                font-weight: 600;
                text-decoration: none;
                // obrazok sipky
                img {
                    width: 30px;
                }
            }
        }
    }
}