#content {
    padding: 20px;
    min-height: 100vh;
    //
    @media(min-width: 0px) {
        padding-top: 104px;
    }
    @media(min-width: 450px) {
        padding-top: 68px;
    }
    @media(min-width: 500px) {
        padding-top: 78px;
    }
    @media(min-width: 800px) {
        padding-top: 98px;
    }
    //
    #buttons-arrow {
        display: grid;
        grid-auto-flow: column;

        @media(min-width: 0px) {
            justify-items: center;
        }
        @media(min-width: 450px) {
            justify-items: left;
        }

        #bt-arrow {
            display: grid;
            text-align: left;
            padding: 10px;
            margin-top: 10px;
            font-family: 'Inter', sans-serif;
            font-size: 25px;
            border-radius: 10px;
            color: black;
            background: #BFBFBF;
            font-weight: 600;
            text-decoration: none;
        }
    }

    #training {
        margin-bottom: 100px;
        padding-top: 20px;
        display: grid;
        gap: 80px;
        //
        #main {
            display: grid;
            gap: 10px;
            //min-height: 100vh;
            #content-title {
                display: grid;
                justify-content: center;
                font-weight: 600;
                font-size: 35px;
            }
            //
            #training-info {
                display: grid;
                justify-content: center;
                text-align: center;
                font-size: 25px;
                font-weight: 600;
            }
        }
        
        #training-menu {
            //padding-top: 45px;
            display: grid;
            gap: 40px;
            justify-content: center;
            //
            #bt-training {
                display: grid;
                justify-content: center;
                align-content: center;
                font-weight: 600;
                background: #A5CE00;
                //border: 1px solid #000000;
                color: black;
                text-decoration: none;
                //
                @media(min-width: 0px) {
                    height: 100px;
                    width: 80vw;
                    font-size: 25px;
                    border-radius: 15px;
                }
                @media(min-width: 600px) {
                    height: 140px;
                    width: 60vw;
                    font-size: 30px;
                    border-radius: 25px;
                }
            }
        }
    }
}