#content {
    padding: 20px;
    min-height: 100vh;
    //
    @media(min-width: 0px) {
        padding-top: 140px;
    }
    @media(min-width: 300px) {
        padding-top: 145px;
    }
    @media(min-width: 510px) {
        padding-top: 102px;
    }
    @media(min-width: 900px) {
        padding-top: 133px;
    }
    //
    #training {
        display: grid;
        gap: 120px;
        //
        #main {
            //min-height: 100vh;
            display: grid;
            justify-items: center;
            gap: 25px;
            //
            #content-title {
                //width: 50vw;
                //margin: 0;
                padding: 10px;
                display: grid;
                justify-items: center;
                font-weight: 600;
                font-size: 35px;
                background: rgb(0, 178, 44);
                //border: 2px solid black;
                border-radius: 25px;
            }
            //
            #training-info {
                display: grid;
                justify-items: center;
                text-align: center;
                font-weight: 600;
                font-size: 25px;
            }
            //hlasky
            .rText {
                padding: 5px;
                font-size: 20px;
                background: red;
                color: whitesmoke;
                border-radius: 10px;
            }

            .gText {
                padding: 5px;
                font-size: 20px;
                background: green;
                color: whitesmoke;
                border-radius: 10px;
            }

            .oText {
                padding: 5px;
                font-size: 20px;
                background: orange;
                color: whitesmoke;
                border-radius: 10px;
            }
        }
        //
        #training-menu {
            display: grid;
            gap: 40px;
            justify-content: center;
            //
            #bt-training {
                display: grid;
                justify-content: center;
                align-content: center;
                font-weight: 600;
                background: #A5CE00;
                border: 2px solid #000000;
                color: black;
                text-decoration: none;
                //
                @media(min-width: 0px) {
                    height: 100px;
                    width: 80vw;
                    font-size: 25px;
                    border-radius: 15px;
                }
                @media(min-width: 600px) {
                    height: 140px;
                    width: 60vw;
                    font-size: 30px;
                    border-radius: 25px;
                }
            }
        }
    }
}