#content {
    padding: 20px;
    min-height: 100vh;
    //
    @media(min-width: 0px) {
        padding-top: 130px;
    }
    @media(min-width: 300px) {
        padding-top: 138px;
    }
    @media(min-width: 510px) {
        padding-top: 132px;
    }
    @media(min-width: 900px) {
        padding-top: 128px;
    }
    
    //
    #training {
        display: grid;
        gap: 120px;
        //
        #main {
            //min-height: 100vh;
            //
            #content-title {
                display: grid;
                justify-content: center;
                font-weight: 600;
                font-size: 35px;
            }
            //
            #training-info {
                font-size: 25px;
            }
        }
        //
        #training-menu {
            display: grid;
            gap: 40px;
            justify-content: center;
            //
            button {
                width: 80vw;
                font-weight: 600;
                font-size: 25px;
                background: #A5CE00;
                border: 1px solid #000000;
                border-radius: 8px;
                //
                @media(min-width: 0px) {
                    height: 100px;
                }
                @media(min-width: 450px) {
                    height: 140px;
                }
            }
        }
    }
}