#content {
  padding: 20px;
  min-height: 100vh;
}
@media (min-width: 0px) {
  #content {
    padding-top: 130px;
  }
}
@media (min-width: 300px) {
  #content {
    padding-top: 138px;
  }
}
@media (min-width: 510px) {
  #content {
    padding-top: 132px;
  }
}
@media (min-width: 900px) {
  #content {
    padding-top: 128px;
  }
}
#content #main #content-title {
  display: grid;
  justify-content: center;
  font-weight: 600;
  font-size: 35px;
}
#content #main #main-info {
  display: grid;
  justify-content: center;
  font-size: 25px;
}
#content #functions {
  padding-top: 25px;
}
#content #functions #functions-title {
  font-weight: 600;
  font-size: 30px;
}
#content #functions ul {
  display: grid;
  gap: 20px;
  padding-left: 25px;
  list-style-type: decimal;
  font-weight: 600;
  font-size: 25px;
}
#content #functions ul li .function {
  display: grid;
}
#content #functions ul li .function .function-title {
  font-weight: 600;
  font-size: 25px;
}
#content #functions ul li .function .function-info {
  font-weight: 400;
  font-size: 25px;
}
#content #access {
  padding-top: 25px;
}
#content #access #access-title {
  font-weight: 600;
  font-size: 30px;
}
#content #access #access-info {
  font-size: 25px;
}