#content {
  min-height: 100vh;
}
@media (min-width: 0px) {
  #content {
    padding-top: 130px;
  }
}
@media (min-width: 300px) {
  #content {
    padding-top: 138px;
  }
}
@media (min-width: 510px) {
  #content {
    padding-top: 97px;
  }
}
@media (min-width: 900px) {
  #content {
    padding-top: 128px;
  }
}
#content #about {
  margin: 25px;
  padding: 20px;
  background: rgb(162, 247, 156);
  border: 5px solid green;
  border-radius: 10px;
}
#content #about #main #content-title {
  display: grid;
  justify-content: center;
  font-weight: 600;
  font-size: 35px;
  text-decoration: underline;
}
#content #about #main #main-info {
  display: grid;
  justify-content: center;
  font-size: 25px;
}
#content #about #functions {
  padding-top: 25px;
}
#content #about #functions #functions-title {
  font-weight: 600;
  font-size: 30px;
}
#content #about #functions ul {
  display: grid;
  gap: 20px;
  padding-left: 25px;
  list-style-type: decimal;
  font-weight: 600;
  font-size: 25px;
}
#content #about #functions ul li .function {
  display: grid;
}
#content #about #functions ul li .function .function-title {
  font-weight: 600;
  font-size: 25px;
}
#content #about #functions ul li .function .function-info {
  font-weight: 400;
  font-size: 25px;
}
#content #about #access {
  padding-top: 25px;
}
#content #about #access #access-title {
  font-weight: 600;
  font-size: 30px;
}
#content #about #access #access-info {
  font-size: 25px;
}