#content {
  display: none;
  padding: 20px;
  min-height: 100vh;
}
@media (min-width: 0px) {
  #content {
    padding-top: 130px;
  }
}
@media (min-width: 300px) {
  #content {
    padding-top: 138px;
  }
}
@media (min-width: 510px) {
  #content {
    padding-top: 132px;
  }
}
@media (min-width: 900px) {
  #content {
    padding-top: 128px;
  }
}
#content #blog #main #content-title {
  display: grid;
  justify-content: center;
  font-weight: 600;
  font-size: 35px;
}
#content #blog #main #exercises-info {
  font-size: 25px;
}
#content #blog #blogs {
  display: grid;
  gap: 20px;
  justify-content: center;
  padding-top: 20px;
}
#content #blog #blogs .blog {
  display: grid;
  justify-content: start;
  border: 1px solid black;
  border-radius: 5px;
  background: #BFBFBF;
  padding: 10px;
}
@media (min-width: 0px) {
  #content #blog #blogs .blog {
    grid-auto-flow: row;
  }
}
@media (min-width: 426px) {
  #content #blog #blogs .blog {
    gap: 25px;
    grid-auto-flow: column;
  }
}
#content #blog #blogs .blog .blog-image {
  width: 190px;
}
#content #blog #blogs .blog .blog-info {
  display: grid;
  gap: 5px;
  padding-right: 5px;
}
#content #blog #blogs .blog .blog-info .blog-header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
}
@media (min-width: 0px) {
  #content #blog #blogs .blog .blog-info .blog-header {
    grid-auto-flow: row;
  }
}
@media (min-width: 426px) {
  #content #blog #blogs .blog .blog-info .blog-header {
    gap: 25px;
    grid-auto-flow: column;
  }
}
#content #blog #blogs .blog .blog-info .blog-header .blog-title {
  font-weight: 600;
  font-size: 32px;
}
#content #blog #blogs .blog .blog-info .blog-header .blog-cathegory {
  font-style: italic;
  font-size: 20px;
}
#content #blog #blogs .blog .blog-info .blog-description {
  display: grid;
  align-content: start;
  font-size: 20px;
}