#content {
    padding: 20px;
    min-height: 100vh;
    @media(min-width: 0px) {
        padding-top: 140px;
    }
    @media(min-width: 450px) {
        padding-top: 130px;
    }
    @media(min-width: 729px) {
        padding-top: 100px;
    }
    #exercises {
        #main {
            min-height: 100vh;
            #content-title {
                display: grid;
                justify-content: center;
                font-weight: 600;
                font-size: 35px;
            }
            #exercises-info {
                font-size: 25px;
            }
            .exercise-title {
                font-weight: 600;
                font-size: 30px;
            }
            .exercise-info {
                font-size: 25px;
            }
            .exercise-kinds {
                display: grid;
                grid-auto-flow: column;
                justify-content: start;
                gap: 12px;
                font-size: 25px;
                @media(min-width: 0px) {
                    grid-auto-flow: row;
                    justify-content: start;
                }
                @media(min-width: 426px) {
                    grid-auto-flow: row;
                    justify-content: start;
                }
                .ex-kinds-title {}
                .ex-kinds-kinds {
                    display: grid;
                    @media(min-width: 0px) {
                        grid-auto-flow: row;
                        justify-content: start;
                    }
                    @media(min-width: 426px) {
                        grid-auto-flow: row;
                        justify-content: start;
                    }
                    @media(min-width: 826px) {
                        grid-auto-flow: column;
                        justify-content: start;
                        gap: 15px;
                    }
                    .ex-kinds-kind {
                        color: black;
                    }
                }
            }
        }
        .exercise {
            //padding-top: 20px;
            padding-top: 130px;
            min-height: 100vh;
            .exercise-title {
                font-weight: 600;
                font-size: 30px;
            }
            .exercise-info {
                font-size: 25px;
            }
            .exercise-kinds {
                display: grid;
                grid-auto-flow: column;
                justify-content: start;
                gap: 12px;
                font-size: 25px;
                @media(min-width: 0px) {
                    grid-auto-flow: row;
                    justify-content: start;
                }
                @media(min-width: 426px) {
                    grid-auto-flow: row;
                    justify-content: start;
                }
                .ex-kinds-title {}
                .ex-kinds-kinds {
                    display: grid;
                    grid-auto-flow: column;
                    justify-content: start;
                    @media(min-width: 0px) {
                        grid-auto-flow: row;
                        justify-content: start;
                    }
                    @media(min-width: 426px) {
                        grid-auto-flow: row;
                        justify-content: start;
                    }
                    @media(min-width: 826px) {
                        grid-auto-flow: column;
                        justify-content: start;
                        gap: 15px;
                    }
                    .ex-kinds-kind {
                        color: black;
                    }
                }
            }
        }
    }
}