#content {
    padding: 20px;
    padding-top: 130px;
    #exercises {
        #main {
            min-height: 100vh;
            #content-title {
                display: grid;
                justify-content: center;
                font-weight: 600;
                font-size: 35px;
            }
            #exercises-info {
                font-size: 25px;
            }

            .exercise-title {
                font-weight: 600;
                font-size: 30px;
            }
            .exercise-info {
                font-size: 25px;
            }
            .exercise-kinds {
                display: grid;
                grid-auto-flow: column;
                justify-content: start;
                gap: 12px;
                font-size: 25px;

                .ex-kinds-title {

                }

                .ex-kinds-kinds {
                    display: grid;
                    grid-auto-flow: column;
                    justify-content: start;

                    .ex-kinds-kind {
                        color: black;
                    }
                    .ex-kinds-comma {
                        padding-right: 8px;
                    }
                    .ex-kinds-end {}
                }
            }
        }

        .exercise {
            //padding-top: 20px;
            padding-top: 130px;
            min-height: 100vh;
            .exercise-title {
                font-weight: 600;
                font-size: 30px;
            }
            .exercise-info {
                font-size: 25px;
            }
            .exercise-kinds {
                display: grid;
                grid-auto-flow: column;
                justify-content: start;
                gap: 12px;
                font-size: 25px;

                .ex-kinds-title {

                }

                .ex-kinds-kinds {
                    display: grid;
                    grid-auto-flow: column;
                    justify-content: start;

                    .ex-kinds-kind {
                        color: black;
                    }
                    .ex-kinds-comma {
                        padding-right: 8px;
                    }
                    .ex-kinds-end {}
                }
            }
        }
    }
}