#content {
    padding: 20px;
    min-height: 100vh;

    @media(min-width: 0px) {
        padding-top: 220px;
    }

    @media(min-width: 426px) {
        padding-top: 130px;
    }

    @media(min-width: 729px) {
        padding-top: 100px;
    }

    #content-title {
        display: grid;
        justify-content: center;
        font-weight: 600;
        font-size: 35px;
    }
    #main-info {
        font-size: 25px;
    }
}