#content {
  padding: 20px;
}

#content #profile {
  display: -ms-grid;
  display: grid;
}

#content #profile #main {
  min-height: 100vh;
}

@media (min-width: 0px) {
  #content #profile #main {
    padding-top: 150px;
  }
}

@media (min-width: 450px) {
  #content #profile #main {
    padding-top: 115px;
  }
}

@media (min-width: 500px) {
  #content #profile #main {
    padding-top: 120px;
  }
}

@media (min-width: 800px) {
  #content #profile #main {
    padding-top: 80px;
  }
}

#content #profile #main #main-content {
  display: -ms-grid;
  display: grid;
  gap: 10px;
}

#content #profile #main #main-content #content-title {
  padding: 10px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  color: #000;
  border-radius: 10px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 35px;
  text-align: center;
}

#content #profile #main #main-content #profile-content {
  padding: 25px;
  padding-bottom: 50%;
  display: -ms-grid;
  display: grid;
  font-family: 'Inter', sans-serif;
  background: #A7A7A7;
  border-radius: 30px;
}

#content #profile #main #main-content #profile-content #sign-up-formular {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  grid-auto-flow: row;
  gap: 0;
  padding-top: 15px;
}

#content #profile #main #main-content #profile-content #sign-up-formular input {
  height: 40px;
  padding-left: 10px;
  margin: 15px;
  font-size: 16px;
  color: black;
  background: #D9D9D9;
  border: 1px solid #000000;
  border-radius: 5px;
}

@media (min-width: 0px) {
  #content #profile #main #main-content #profile-content #sign-up-formular input {
    width: 80vw;
  }
}

@media (min-width: 490px) {
  #content #profile #main #main-content #profile-content #sign-up-formular input {
    width: 390px;
  }
}

@media (min-width: 500px) {
  #content #profile #main #main-content #profile-content #sign-up-formular input {
    width: 390px;
  }
}

#content #profile #main #main-content #profile-content #sign-up-formular #email {
  margin-top: 25px;
}

#content #profile #main #main-content #profile-content #sign-up-formular #password {
  margin-bottom: 5px;
}

#content #profile #main #main-content #profile-content #sign-up-formular #co-password {
  display: -ms-grid;
  display: grid;
  margin-top: 0px;
}

#content #profile #main #main-content #profile-content #sign-up-formular select {
  height: 40px;
  padding-left: 10px;
  margin: 15px;
  font-size: 16px;
  color: black;
  background: #D9D9D9;
  border: 1px solid #000000;
  border-radius: 5px;
}

@media (min-width: 0px) {
  #content #profile #main #main-content #profile-content #sign-up-formular select {
    width: 82vw;
  }
}

@media (min-width: 490px) {
  #content #profile #main #main-content #profile-content #sign-up-formular select {
    width: 400px;
  }
}

@media (min-width: 500px) {
  #content #profile #main #main-content #profile-content #sign-up-formular select {
    width: 400px;
  }
}

#content #profile #main #main-content #profile-content #sign-up-formular .eBorder {
  border: 2px dashed red;
}

#content #profile #main #main-content #profile-content #sign-up-formular .eText {
  padding: 5px;
  margin-bottom: 5px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
  font-size: 20px;
  background-color: red;
  color: white;
  border-radius: 5px;
}

@media (min-width: 0px) {
  #content #profile #main #main-content #profile-content #sign-up-formular .eText {
    width: 80vw;
  }
}

@media (min-width: 490px) {
  #content #profile #main #main-content #profile-content #sign-up-formular .eText {
    width: 390px;
  }
}

@media (min-width: 500px) {
  #content #profile #main #main-content #profile-content #sign-up-formular .eText {
    width: 390px;
  }
}

#content #profile #main #main-content #profile-content #sign-up-formular .rText {
  padding: 5px;
  margin-bottom: 5px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
  font-size: 20px;
  background-color: red;
  color: white;
  border-radius: 5px;
}

@media (min-width: 0px) {
  #content #profile #main #main-content #profile-content #sign-up-formular .rText {
    width: 80vw;
  }
}

@media (min-width: 490px) {
  #content #profile #main #main-content #profile-content #sign-up-formular .rText {
    width: 390px;
  }
}

@media (min-width: 500px) {
  #content #profile #main #main-content #profile-content #sign-up-formular .rText {
    width: 390px;
  }
}

#content #profile #main #main-content #profile-content #sign-up-formular .gText {
  padding: 5px;
  margin-bottom: 5px;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
  font-size: 20px;
  background-color: #2d9e00;
  color: white;
  border-radius: 5px;
}

@media (min-width: 0px) {
  #content #profile #main #main-content #profile-content #sign-up-formular .gText {
    width: 80vw;
  }
}

@media (min-width: 490px) {
  #content #profile #main #main-content #profile-content #sign-up-formular .gText {
    width: 390px;
  }
}

@media (min-width: 500px) {
  #content #profile #main #main-content #profile-content #sign-up-formular .gText {
    width: 390px;
  }
}

#content #profile #main #main-content #profile-content #sign-up-formular #bt-register {
  height: 61px;
  font-size: 25px;
  font-weight: 500;
  border-radius: 10px;
  background: #03A500;
  border: 1px solid #000000;
}

@media (min-width: 0px) {
  #content #profile #main #main-content #profile-content #sign-up-formular #bt-register {
    width: 80vw;
  }
}

@media (min-width: 300px) {
  #content #profile #main #main-content #profile-content #sign-up-formular #bt-register {
    width: 230px;
  }
}

#content #profile .buttons-arrow {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 0px) {
  #content #profile .buttons-arrow {
    margin-bottom: 10px;
  }
}

@media (min-width: 450px) {
  #content #profile .buttons-arrow {
    margin-bottom: 0;
  }
}

#content #profile .buttons-arrow .bt-arrow {
  display: -ms-grid;
  display: grid;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 25px;
  border-radius: 10px;
  color: black;
  background: #EBEBEB;
  font-weight: 600;
  text-decoration: none;
}

#content #profile .buttons-arrow .bt-arrow img {
  width: 30px;
}
