#header-mobile {
  position: fixed;
  width: 100%;
  font-family: "Inter", sans-serif;
}
@media (min-width: 0px) {
  #header-mobile {
    display: block;
  }
}
@media (min-width: 450px) {
  #header-mobile {
    display: none;
  }
}
#header-mobile .header-top {
  display: grid;
  padding: 10px;
  background: #282828;
  grid-auto-flow: row;
  justify-items: center;
  gap: 5px;
}
#header-mobile .header-top #row {
  display: grid;
}
@media (min-width: 0px) {
  #header-mobile .header-top #row {
    grid-auto-flow: column;
    gap: 40px;
  }
}
@media (min-width: 300px) {
  #header-mobile .header-top #row {
    grid-auto-flow: column;
    gap: 90px;
  }
}
#header-mobile .header-top #row .loginsM {
  display: grid;
}
#header-mobile .header-top #row .loginsM .bt-logedM {
  display: grid;
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background: #0E7619;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}
#header-mobile .header-top #row .loginsM .profile-menuM {
  left: -100%;
  margin-top: 45px;
  position: absolute;
  display: grid;
  justify-content: center;
  gap: 25px;
  background: white;
  border: 3px solid #000000;
  border-radius: 10px;
}
#header-mobile .header-top #row .loginsM .profile-menuM #mobile-nav {
  display: grid;
  justify-items: center;
}
#header-mobile .header-top #row .loginsM .profile-menuM #mobile-nav a {
  padding: 5px;
  display: grid;
  font-size: 25px;
  text-decoration: none;
  color: #000000;
  font-family: "Inter", sans-serif;
}
#header-mobile .header-top #row .loginsM .profile-menuM #mobile-nav .hide {
  display: none;
}
#header-mobile .header-top #row .loginsM .profile-menuM #mobile-nav .actual {
  padding-right: 62px;
  padding-bottom: 5px;
  color: black;
  background: #03A500;
  text-decoration: underline;
}
#header-mobile .header-top #row .loginsM .profile-menuM .bt-logout {
  margin: 25px;
  padding: 8px;
  margin-top: 50%;
  display: grid;
  justify-content: center;
  font-size: 20px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background: #1ba400;
  border: 1px solid black;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
}
#header-mobile .header-top #row .loginsM .profile-menuM.active {
  left: 25px;
}
#header-mobile .header-top #row .logo {
  border-radius: 50%;
}
@media (min-width: 0px) {
  #header-mobile .header-top #row .logo {
    width: 35px;
  }
}
#header-mobile .header-top .header-title {
  color: white;
}
@media (min-width: 0px) {
  #header-mobile .header-top .header-title {
    font-weight: 500;
    font-size: 25px;
  }
}
@media (min-width: 300px) {
  #header-mobile .header-top .header-title {
    font-weight: 600;
    font-size: 30px;
  }
}