//hlavicka pre sirku vacsiu ako maju mobily
#header-computer {
    position: fixed;
    width: 100%;
    font-family: 'Inter', sans-serif;
    //background: #282828;
    //skryte na mobile
    @media(min-width: 0px) {
        display: none;
    }
    //viditelne
    @media(min-width: 450px) {
        display: block;
    }
    //horna cast hlavicky
    .header-top {
        display: grid;
        align-items: center;
        padding: 10px;
        background: #282828;
        //
        @media(min-width: 450px) {
            grid-auto-flow: column;
            justify-content: space-between;
            gap: 5px;
        }
        // prihlaseny pouzivatel
        .loginsC {
            display: grid;
            // tlacidlo prihlaseneho
            .bt-logedC {
                display: grid;
                padding: 5px;
                font-weight: 600;
                font-size: 20px;
                color: white;
                background: #0E7619;
                border: 0;
                border-radius: 50%;
                cursor: pointer;
            }
            // menu prihlaseneho pre pocitace
            .profile-menuC {
                left: -100%;
                margin-top: 45px;
                position: absolute;
                display: grid;
                justify-content: center;
                gap: 25px;
                background: #4d534d;
                //border: 1px solid #000000;
                border-radius: 10px;
            
                // navigacne menu profil pre pocitace
                #computer-nav {
                    display: grid;
                    justify-items: center;
                    // odkazy na stranky
                    a {
                        padding: 5px;
                        display: grid;
                        font-size: 25px;
                        text-decoration: none;
                        color: #D3D3D3;
                        font-family: 'Inter', sans-serif;
                    }
                    // skryje komponentu
                    .hide {
                        display: none;
                    }
                    // aktualna stranka, zatial zbytocne
                    .actual {
                        padding-right: 62px;
                        padding-bottom: 5px;
                        color: black;
                        background: #03A500;
                        text-decoration: underline;
                    }
                }
                // tlacidlo na odhlasenie
                .bt-logout {
                    margin: 25px;
                    padding: 8px;
                    margin-top: 50%;
                    display: grid;
                    justify-content: center;
                    font-size: 20px;
                    text-decoration: none;
                    color: rgb(0, 0, 0);
                    background: #4ac10f;
                    border: 1px solid black;
                    border-radius: 5px;
                    font-family: 'Inter', sans-serif;
                }
            }
            // stlacene tlacidlo prihlaseneho, zobrazi menu prihlaseneho
            .profile-menuC.active {
                left: 25px;
            }
        }   
        //nazov webu
        .header-title {
            color: white;
            //        
            @media(min-width: 450px) {
                font-weight: 600;
                font-size: 30px;
            }
            @media(min-width: 500px) {
                font-weight: 600;
                font-size: 35px;
            }
            @media(min-width: 800px) {
                font-weight: 800;
                font-size: 45px;
            }
        }
        //
        .logo {
            border-radius: 50%;
            //
            @media(min-width: 450px) {
                width: 35px;
            }
            @media(min-width: 500px) {
                width: 40px;
            }
            @media(min-width: 800px) {
                width: 50px;
            }
        }
    }
    //
}