#header-computer {
  position: fixed;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

@media (min-width: 0px) {
  #header-computer {
    display: none;
  }
}

@media (min-width: 450px) {
  #header-computer {
    display: block;
  }
}

#header-computer .header-top {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background: #282828;
}

@media (min-width: 450px) {
  #header-computer .header-top {
    grid-auto-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 5px;
  }
}

#header-computer .header-top .loginsC {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
}

#header-computer .header-top .loginsC .bt-logedC {
  display: -ms-grid;
  display: grid;
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background: #0E7619;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
}

#header-computer .header-top .loginsC .profile-menuC {
  height: 100vh;
  left: 0;
  z-index: 20px;
  padding: 5px 15px;
  position: absolute;
  display: -ms-grid;
  display: grid;
  background: #0E7619;
}

@media (min-width: 0px) {
  #header-computer .header-top .loginsC .profile-menuC {
    margin-top: 85px;
  }
}

@media (min-width: 500px) {
  #header-computer .header-top .loginsC .profile-menuC {
    margin-top: 87px;
  }
}

@media (min-width: 800px) {
  #header-computer .header-top .loginsC .profile-menuC {
    margin-top: 96px;
  }
}

#header-computer .header-top .loginsC .profile-menuC #computer-nav {
  margin: 0;
  padding: 0;
  display: -ms-grid;
  display: grid;
  gap: 5px;
}

#header-computer .header-top .loginsC .profile-menuC #computer-nav a {
  display: -ms-grid;
  display: grid;
  text-decoration: none;
  color: whitesmoke;
}

#header-computer .header-top .loginsC .profile-menuC .bt-logout {
  display: -ms-grid;
  display: grid;
  text-decoration: none;
  color: black;
  background: whitesmoke;
  border: 1px solid black;
}

#header-computer .header-top .bt-log-in {
  border: 2px solid black;
  border-radius: 15px;
  background: #03A500;
  text-decoration: none;
  color: black;
}

@media (min-width: 450px) {
  #header-computer .header-top .bt-log-in {
    padding: 5px;
    font-size: 20px;
  }
}

@media (min-width: 900px) {
  #header-computer .header-top .bt-log-in {
    padding: 5px;
    font-size: 25px;
  }
}

#header-computer .header-top .header-title {
  color: white;
}

@media (min-width: 450px) {
  #header-computer .header-top .header-title {
    font-weight: 600;
    font-size: 30px;
  }
}

@media (min-width: 500px) {
  #header-computer .header-top .header-title {
    font-weight: 600;
    font-size: 35px;
  }
}

@media (min-width: 800px) {
  #header-computer .header-top .header-title {
    font-weight: 800;
    font-size: 45px;
  }
}

#header-computer .header-top .logo {
  border-radius: 50%;
}

@media (min-width: 450px) {
  #header-computer .header-top .logo {
    width: 35px;
  }
}

@media (min-width: 500px) {
  #header-computer .header-top .logo {
    width: 40px;
  }
}

@media (min-width: 800px) {
  #header-computer .header-top .logo {
    width: 50px;
  }
}

#header-computer .header-menu {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background: #004700;
}

#header-computer .header-menu .search {
  height: 30px;
  padding-left: 5px;
  margin: 5px;
  font-size: 20px;
  color: black;
  border-radius: 9px;
  border: 2px solid black;
}

@media (min-width: 450px) {
  #header-computer .header-menu .search {
    width: 300px;
  }
}

@media (min-width: 800px) {
  #header-computer .header-menu .search {
    width: 400px;
  }
}
