#profile {
  padding: 20px;
  min-height: 100vh;
}

@media (min-width: 0px) {
  #profile {
    padding-top: 140px;
  }
}

@media (min-width: 450px) {
  #profile {
    padding-top: 105px;
  }
}

@media (min-width: 500px) {
  #profile {
    padding-top: 110px;
  }
}

@media (min-width: 800px) {
  #profile {
    padding-top: 125px;
  }
}
