#content {
    //min-height: 100vh;
    padding: 20px;
    // denna aktivita
    #profile {
        //padding-top: 20px;
        display: grid;
        //gap: 120px;
        //
        #main {
            min-height: 100vh;
            //
            @media(min-width: 0px) {
                padding-top: 150px;
            }
            @media(min-width: 450px) {
                padding-top: 115px;
            }
            @media(min-width: 500px) {
                padding-top: 120px;
            }
            @media(min-width: 800px) {
                padding-top: 80px;
            }
            // uvod
            #main-content {
                display: grid;
                //justify-items: center;
                gap: 10px;
                // nadpis
                #content-title {
                    padding: 10px;
                    display: grid;
                    justify-items: center;
                    color: #000;
                    border-radius: 10px;
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    font-size: 35px;
                    text-align: center;
                }
                // kratke informacie
                #profile-content {
                    padding: 25px;
                    padding-bottom: 15%;
                    display: grid;
                    font-family: 'Inter', sans-serif;
                    background: #A7A7A7;
                    border-radius: 30px;
                    // tlacidlo na upravu profilu
                    #edit {
                        display: grid;
                        //
                        @media(min-width: 0){
                            position: relative;
                            justify-content: center;
                            padding-bottom: 15px;
                        }
                        @media(min-width: 500px){
                            position: absolute;
                            right: 20px;
                            margin: 15px;
                            padding: 0;
                            justify-content: right;
                        }
                        //
                        img {
                            display: grid;
                        }
                    }
                    // profilove informacie
                    #info {
                        display: grid;
                        justify-items: center;
                        gap: 25px;
                        font-size: 25px;
                        // meno, email
                        #name {
                            display: grid;
                            justify-items: center;
                            gap: 5px;
                            font-weight: 400;
                            //
                            #fullname {
                                font-size: 30px;
                                font-weight: 600;
                            }
                            //
                            #email {}
                        }
                        // ostatne
                        #other {
                            display: grid;
                            justify-items: center;
                            gap: 5px;
                            font-weight: 400;
                            //
                            #gender {}
                            //
                            #age {}
                            //
                            #weight {}
                            //
                            #height {}
                        }
                    }
                }
            }
        }
        //
        // sipky na posun
        .buttons-arrow {
            display: grid;
            grid-auto-flow: column;
            justify-content: space-between;

            @media(min-width: 0px) {
                margin-bottom: 10px;
            }
            @media(min-width: 450px) {
                margin-bottom: 0;
            }
            // sipka
            .bt-arrow {
                display: grid;
                padding: 10px;
                font-family: 'Inter', sans-serif;
                font-size: 25px;
                border-radius: 10px;
                color: black;
                background: #EBEBEB;
                font-weight: 600;
                text-decoration: none;
                // obrazok sipky
                img {
                    width: 30px;
                }
            }
            // skryje komponentu
            .hide {
                display: none;
            }
        }
    }
}