#content {
    min-height: 100vh;
    background: #858585;
    font-size: 16px;
    @media(max-width: 224px){
        padding-top: 85px;
    }
    @media(min-width: 224px){
        padding-top: 55px;
    }
    @media(min-width: 400px){
        padding: 10px;
        padding-top: 15px;
    }
    @media(min-width: 500px){
        padding: 25px;
        padding-top: 35px;
    }
    // denna aktivita
    #database {
        padding-top: 60px;
        display: grid;
        justify-content: center;
        font-family: 'Inter', sans-serif;
        //hlavny nadpis
        #main-title {
            display: grid;
            font-size: 30px;
            font-weight: 600;
            @media(max-width: 500px){
                justify-items: center;
            }
            @media(min-width: 500px){
                justify-items: left;
            }
        }
        // formular
        form {
            display: grid;
            justify-items: center;
            padding: 15px;
            display: grid;
            gap: 80px;
            //
            .command {
                display: grid;
                justify-items: center;
                padding: 15px;
                display: grid;
                gap: 25px;
                background: #9e9494;
                border-radius: 25px;
                //
                .query {
                    //max-width: 250px;
                    resize: vertical;
                    height: 90px;
                    //width: 250px;
                    font-size: 25px;
                    border: none;
                    background: white;
                    color: black;
                    border-radius: 5px;
                    @media(max-width: 500px){
                        width: 75vw;
                    }
                    @media(min-width: 500px){
                        width: 350px;
                    }
                }
                //
                .submit {
                    padding: 5px;
                    font-size: 25px;
                    border: none;
                    background: #252525;
                    color: white;
                    border-radius: 5px;
                }
                //
                .rBorder {
                    padding: 5px;
                    font-size: 18px;
                    color: whitesmoke;
                    background: red;
                    border-radius: 5px;
                    font-weight: 500;
                }
                //
                .gBorder {
                    padding: 5px;
                    font-size: 18px;
                    color: whitesmoke;
                    background: green;
                    border-radius: 5px;
                    font-weight: 500;
                }
            }
            //
            .actual {
                background: #c2c2c2;
                border-radius: 25px;
            }
            //
            .labelCommmit {
                padding: 5px;
                background: rgb(37, 37, 37);
                color: whitesmoke;
                border-radius: 5px;
            }
            .commit {
                padding: 5px;
                font-size: 25px;
                font-weight: bold;
                border: none;
                background: #ff3c00;
                color: white;
                border-radius: 5px;
            }
        }
    }
}