#header {
  position: fixed;
  width: 100%;
  display: grid;
  font-family: "Inter", sans-serif;
  background: #282828;
}
#header .header-top {
  padding: 10px;
  display: grid;
  align-items: center;
  justify-items: center;
}
#header .header-top .header-title {
  display: grid;
  justify-items: center;
  text-align: center;
  color: white;
  font-size: 30px;
  font-weight: 600;
}