#content {
  padding: 20px;
  min-height: 100vh;
}

@media (min-width: 0px) {
  #content {
    padding-top: 140px;
  }
}

@media (min-width: 450px) {
  #content {
    padding-top: 130px;
  }
}

@media (min-width: 500px) {
  #content {
    padding-top: 140px;
  }
}

@media (min-width: 800px) {
  #content {
    padding-top: 115px;
  }
}

#content #training {
  display: -ms-grid;
  display: grid;
  gap: 120px;
}

#content #training #main #content-title {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 600;
  font-size: 35px;
}

#content #training #main #training-info {
  font-size: 25px;
}

#content #training #training-menu {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#content #training #training-menu button {
  width: 80vw;
  font-weight: 600;
  font-size: 25px;
  background: #A5CE00;
  border: 1px solid #000000;
  border-radius: 8px;
}

@media (min-width: 0px) {
  #content #training #training-menu button {
    height: 100px;
  }
}

@media (min-width: 450px) {
  #content #training #training-menu button {
    height: 140px;
  }
}
