#content {
  padding: 20px;
  min-height: 100vh;
}
@media (min-width: 0px) {
  #content {
    padding-top: 130px;
  }
}
@media (min-width: 300px) {
  #content {
    padding-top: 138px;
  }
}
@media (min-width: 510px) {
  #content {
    padding-top: 97px;
  }
}
@media (min-width: 900px) {
  #content {
    padding-top: 128px;
  }
}
#content #contact {
  display: grid;
  gap: 50px;
}
#content #contact #content-title {
  display: grid;
  justify-content: center;
  font-weight: 600;
  font-size: 35px;
}
#content #contact #autor-info {
  padding: 10px;
  display: grid;
  justify-content: left;
  gap: 5px;
  border: 5px solid rgb(13, 84, 0);
  border-radius: 15px;
  color: rgb(0, 0, 0);
  background: rgb(162, 247, 156);
}
@media (min-width: 0px) {
  #content #contact #autor-info {
    width: auto;
  }
}
@media (min-width: 400px) {
  #content #contact #autor-info {
    width: 300px;
  }
}
#content #contact #autor-info #title-autor {
  display: grid;
  justify-content: left;
  font-weight: 600;
  font-size: 30px;
}
#content #contact #autor-info #contact-items {
  display: grid;
  gap: 10px;
  justify-content: left;
}
#content #contact #autor-info #contact-items .contact-item {
  display: grid;
  gap: 10px;
  justify-content: left;
}
@media (min-width: 0px) {
  #content #contact #autor-info #contact-items .contact-item {
    grid-auto-flow: row;
  }
}
@media (min-width: 500px) {
  #content #contact #autor-info #contact-items .contact-item {
    grid-auto-flow: column;
  }
}
#content #contact #autor-info #contact-items .contact-item .item-title {
  font-weight: 400;
  font-size: 25px;
}
#content #contact #autor-info #contact-items .contact-item .item-content {
  font-weight: 400;
  font-size: 25px;
  color: rgb(0, 0, 0);
}
#content #contact #autor-info #contact-items .contact-item #full-name {
  display: grid;
  justify-items: center;
}