#content {
    padding: 20px;
    min-height: 100vh;
    //
    @media(min-width: 0px) {
        padding-top: 130px;
    }
    @media(min-width: 300px) {
        padding-top: 138px;
    }
    @media(min-width: 510px) {
        padding-top: 132px;
    }
    @media(min-width: 900px) {
        padding-top: 128px;
    }
    //
    #contact {
        display: grid;
        gap: 50px;
        //
        #content-title {
            display: grid;
            justify-content: center;
            font-weight: 600;
            font-size: 35px;
        }
        #autor-info {
            padding: 10px;
            display: grid;
            justify-content: left;
            gap: 5px;
            border: 5px solid rgb(13, 84, 0);
            border-radius: 10px;
            color: rgb(46, 46, 46);
            background: rgb(227, 255, 199);
            @media(min-width: 0px) {
                width: auto;
            }
            @media(min-width: 400px) {
                width: 300px;
            }
            //
            #title-autor {
                display: grid;        
                font-weight: 600;
                font-size: 30px;
                @media(min-width: 0px) {
                    justify-items: center;
                }
                @media(min-width: 500px) {
                    justify-content: left;
                }
            }
            //
            #contact-items {
                display: grid;
                gap: 10px;
                //
                .contact-item {
                    display: grid;
                    gap: 10px;
                    //
                    @media(min-width: 0px) {
                        grid-auto-flow: row;
                        justify-items: center;
                    }
                    @media(min-width: 500px) {
                        grid-auto-flow: column;
                        justify-content: left;
                    }
                    //
                    .item-title {
                        font-weight: 400;
                        font-size: 25px;
                    }
                    .item-content {
                        font-weight: 400;
                        font-size: 25px;
                        color: rgb(46, 46, 46);
                    }
                    #full-name {
                        display: grid;
                        justify-items: center;
                    }
                }
            }
        }
    }
}