#content {
  min-height: 100vh;
  padding: 25px;
  padding-top: 75px;
  background: #858585;
}

#content #database {
  padding-top: 60px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#content #database #main-title {
  position: absolute;
  display: -ms-grid;
  display: grid;
  justify-items: left;
  font-size: 30px;
  font-weight: 600;
}

#content #database form {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 15px;
  display: grid;
  gap: 80px;
}

#content #database form .command {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 15px;
  display: grid;
  gap: 25px;
}

#content #database form .command .query {
  resize: vertical;
  height: 90px;
  width: 250px;
  font-size: 25px;
  border: none;
  background: white;
}

#content #database form .command .submit {
  padding: 5px;
  font-size: 25px;
  border: none;
  background: #252525;
  color: white;
}

#content #database form .actual {
  background: #c2c2c2;
  border-radius: 25px;
}

#content #database form #commit {
  padding: 5px;
  font-size: 25px;
  border: none;
  background: #ff7300;
  color: white;
}
