#content {
  min-height: 100vh;
  padding: 25px;
  padding-top: 75px;
  background: #858585;
  font-size: 16px;
}

#content #database {
  padding-top: 60px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#content #database #main-title {
  position: absolute;
  display: -ms-grid;
  display: grid;
  justify-items: left;
  font-size: 30px;
  font-weight: 600;
}

#content #database form {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 15px;
  display: grid;
  gap: 80px;
}

#content #database form .command {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  padding: 15px;
  display: grid;
  gap: 25px;
}

#content #database form .command .query {
  resize: vertical;
  height: 90px;
  width: 250px;
  font-size: 25px;
  border: none;
  background: white;
  border-radius: 5px;
}

#content #database form .command .submit {
  padding: 5px;
  font-size: 25px;
  border: none;
  background: #252525;
  color: white;
  border-radius: 5px;
}

#content #database form .command .rBorder {
  padding: 5px;
  font-size: 18px;
  color: whitesmoke;
  background: red;
  border-radius: 5px;
  font-weight: 500;
}

#content #database form .command .gBorder {
  padding: 5px;
  font-size: 18px;
  color: whitesmoke;
  background: green;
  border-radius: 5px;
  font-weight: 500;
}

#content #database form .actual {
  background: #c2c2c2;
  border-radius: 25px;
}

#content #database form .labelCommmit {
  padding: 5px;
  background: #252525;
  color: whitesmoke;
  border-radius: 5px;
}

#content #database form .commit {
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  background: #ff3c00;
  color: white;
  border-radius: 5px;
}
