#content {
    min-height: 100vh;
    //
    @media(min-width: 0px) {
        padding-top: 150px;
    }
    @media(min-width: 450px) {
        padding-top: 115px;
    }
    @media(min-width: 500px) {
        padding-top: 120px;
    }
    @media(min-width: 800px) {
        padding-top: 135px;
    }
    padding: 20px;
    // denna aktivita
    #database {
        display: grid;
        //gap: 120px;
        justify-content: left;
        // formular
        form {
            margin-top: 10px;
            display: grid;
            gap: 5px;
        }
    }
}