//hlavicka pre sirku vacsiu ako maju mobily
#header-computer {
    position: fixed;
    width: 100%;
    font-family: 'Inter', sans-serif;
    //background: #282828;
    //skryte na mobile
    @media(min-width: 0px) {
        display: none;
    }
    //viditelne
    @media(min-width: 450px) {
        display: block;
    }
    //horna cast hlavicky
    .header-top {
        display: grid;
        align-items: center;
        padding: 10px;
        background: #282828;
        //
        @media(min-width: 450px) {
            grid-auto-flow: column;
            justify-content: center;
            gap: 5px;
        }

        //nazov webu
        .header-title {
            display: grid;
            color: white;
            font-size: 30px;
            font-weight: 600;
        }
    }
}