* {
    padding: 0;
    margin: 0;
}

html {
    font-size: 15px;
    font-weight: 500;
    //font-family: normal;
    background: #D9D9D9;
    //background-color: white;
}

body {
    position: relative;
    min-height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

body.selected {
    display: block;
}