* {
  padding: 0;
  margin: 0;
}

html {
  font-size: 15px;
  font-weight: 500;
  background-color: white;
}

body {
  position: relative;
  min-height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr auto;
      grid-template-rows: 1fr auto;
}

body.selected {
  display: block;
}
