// hlavicka pre sirku mobilov
#header-mobile {
    position: fixed;
    width: 100%;
    font-family: 'Inter', sans-serif;
    // viditelne len na mobiloch
    @media(min-width: 0px) {
        display: block;
    }
    // skryje na pocitacoch
    @media(min-width: 510px) {
        display: none;
    }
    // horna cast hlavicky
    .header-top {
        display: grid;
        padding: 10px;
        align-items: center;
        grid-auto-flow: row;
        justify-items: center;
        gap: 5px;
        background: #282828;
        // riadok, tlacidlo login a logo stranky
        #row {
            display: grid;
            //
            @media(min-width: 0px) {
                grid-auto-flow: column;
                gap: 40px;
            }

            @media(min-width: 300px) {
                grid-auto-flow: column;
                gap: 90px;
            }
            // prihlaseny pouzivatel
            .loginsM {
                display: grid;
                grid-auto-flow: row;
                justify-items: left;
                // tlacidlo prihlaseneho
                .bt-logedM {
                    display: grid;
                    padding: 5px;
                    font-weight: 600;
                    font-size: 20px;
                    color: white;
                    background: #0E7619;
                    border: 0;
                    border-radius: 50%;
                    cursor: pointer;
                }
                // menu prihlaseneho
                .ham-settingsM {
                    padding: 5px 15px;
                    margin-top: 33px;
                    position: absolute;
                    display: none;
                    background: #D9D9D9;
                    border: 1px solid #000000;
                    border-radius: 10px;
        
                    .name {
                        display: grid;
                        justify-content: center;
                        font-weight: 400;
                        font-size: 25px;
                        text-decoration: underline;
                        color: black;
                    }
                    .profile {
                        margin-top: 5px;
                        display: grid;
                        justify-content: left;
                        font-weight: 400;
                        font-size: 20px;
                        text-decoration: none;
                        color: black;
                    }
                    .log-out {
                        margin-top: 15px;
                        display: grid;
                        justify-content: center;
                        font-weight: 400;
                        font-size: 20px;
                        text-decoration: none;
                        color: black;
                        background: #B6B6B6;
                        border: 1px solid #000000;
                        border-radius: 5px;
                    }
                }
                // stlacene tlacidlo prihlaseneho, zobrazi menu prihlaseneho
                .ham-settingsM.active {
                    display: grid;
                }
            }
            // tlacidlo prihlasenia
            .bt-log-in {
                border: 2px solid black;
                background: #03A500;
                text-decoration: none;
                color: black;
                //
                @media(min-width: 0px) {
                    padding: 5px;
                    font-size: 20px;
                    border-radius: 30px;
                }
            }
            //
            .logo {
                border-radius: 50%;
                //
                @media(min-width: 0px) {
                    width: 35px;
                }
            }
        }
        // nazov webu
        .header-title {
            color: white;
            //
            @media(min-width: 0px) {
                font-weight: 500;
                font-size: 25px;
            }

            @media(min-width: 300px) {
                font-weight: 600;
                font-size: 30px;
            }
        }
    }
    // menu hlavicky, hamburger button
    .header-menu {
        display: grid;
        justify-content: center;
        background: #00C500;
        // tlacidlo na zobrazenie hamburger menu
        .hamburger {
            display: block;
            cursor: pointer;
            padding: 5px;
        }
        // hamburger ikona
        .bar {
            display: block;
            width: 25px;
            height: 3px;
            margin: 5px auto;
            -webkit-transition: all 0.3s ease-in-out;
            transition: all 0.3s ease-in-out;
            background-color: black;
        }
        //
        .hamburger.active .bar:nth-child(2) {
            opacity: 0;
        }
        //
        .hamburger.active .bar:nth-child(1) {
            transform: translateY(8px) rotate(45deg);
        }
        //
        .hamburger.active .bar:nth-child(3) {
            transform: translateY(-8px) rotate(-45deg);
        }
    }
    // hamburger menu full
    #header-nav {
        position: relative;
        display: block;
        left: -100%;
        //top: 135px;
        gap: 0;
        background-color: rgb(162, 247, 156);
        width: 100%;
        min-height: 100vh;
        transition: .3s;
        //
        div {
            display: none;
            padding: 30px;
            justify-items: center;
            grid-auto-flow: row;
            gap: 30px;
            // vyhladavac
            .search {
                display: none;
                //display: grid;
                height: 30px;
                width: 65vw;
                padding-left: 5px;
                font-size: 20px;
                color: black;
                border-radius: 9px;
                border: 2px solid black;
                //background: black;
            }
            // navigacne menu
            .nav-menu {
                display: grid;
                justify-items: center;
                gap: 10px;
                // nepouzivana stranka
                .hide {
                    display: none;
                }
                // aktualna stranka
                .actual {
                    display: grid;
                    justify-content: center;
                    width: 65vw;
                    padding: 5px 0;
                    border-radius: 5px;
                    text-decoration: underline;
                    background: #39d736;
                    color: #000000;
                }
                // tlacidlo
                a {
                    display: grid;
                    justify-content: center;
                    width: 65vw;
                    padding: 5px 0;
                    border-radius: 5px;
                    color: #000000;
                    background: orange;
                    text-decoration: none;
                }
            }
        }
    }
    //
}
//
// ked kliknem, rozbali hamburger menu
body.active #header-mobile {
    position: relative;
    // animacia zlava hamburger menu
    #header-nav {
        left: 0;
        // viditelne menu
        div {
            display: grid;
        }
    }
}