#header-computer {
  position: fixed;
  width: 100%;
  font-family: 'Inter', sans-serif;
}

@media (min-width: 0px) {
  #header-computer {
    display: none;
  }
}

@media (min-width: 510px) {
  #header-computer {
    display: block;
  }
}

#header-computer .header-top {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background: #282828;
}

@media (min-width: 450px) {
  #header-computer .header-top {
    grid-auto-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 5px;
  }
}

#header-computer .header-top .logins {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: row;
}

#header-computer .header-top .logins .bt-loged {
  display: -ms-grid;
  display: grid;
  padding: 5px;
  font-weight: 600;
  font-size: 20px;
  color: white;
  background: #0E7619;
  border-radius: 50%;
}

#header-computer .header-top .logins .ham-settings {
  padding: 5px 15px;
  margin-top: 33px;
  position: absolute;
  display: -ms-grid;
  display: grid;
  background: #D9D9D9;
  border: 1px solid #000000;
  border-radius: 10px;
}

#header-computer .header-top .logins .ham-settings .name {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 25px;
  text-decoration: underline;
  color: black;
}

#header-computer .header-top .logins .ham-settings .profile {
  margin-top: 5px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: black;
}

#header-computer .header-top .logins .ham-settings .log-out {
  margin-top: 15px;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  font-size: 20px;
  text-decoration: none;
  color: black;
  background: #B6B6B6;
  border: 1px solid #000000;
  border-radius: 5px;
}

#header-computer .header-top .bt-log-in {
  border: 2px solid black;
  border-radius: 15px;
  background: #03A500;
}

@media (min-width: 450px) {
  #header-computer .header-top .bt-log-in {
    width: 80px;
    height: 35px;
    font-size: 20px;
  }
}

@media (min-width: 900px) {
  #header-computer .header-top .bt-log-in {
    width: 90px;
    height: 45px;
    font-size: 25px;
  }
}

#header-computer .header-top .bt-log-in a {
  text-decoration: none;
  color: black;
}

#header-computer .header-top .header-title {
  color: white;
  font-style: normal;
}

@media (min-width: 450px) {
  #header-computer .header-top .header-title {
    font-weight: 600;
    font-size: 30px;
  }
}

@media (min-width: 900px) {
  #header-computer .header-top .header-title {
    font-weight: 800;
    font-size: 45px;
  }
}

#header-computer .header-top .logo {
  border-radius: 50%;
}

@media (min-width: 450px) {
  #header-computer .header-top .logo {
    width: 35px;
  }
}

@media (min-width: 900px) {
  #header-computer .header-top .logo {
    width: 50px;
  }
}

#header-computer .header-menu {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #004700;
}

@media (min-width: 450px) {
  #header-computer .header-menu {
    grid-auto-flow: row;
    justify-items: center;
  }
}

@media (min-width: 900px) {
  #header-computer .header-menu {
    grid-auto-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

#header-computer .header-menu #computer-nav {
  display: -ms-grid;
  display: grid;
  grid-auto-flow: column;
  gap: 5px;
}

#header-computer .header-menu #computer-nav .hide {
  display: none;
}

#header-computer .header-menu #computer-nav .actual {
  text-decoration: underline;
  color: #000000;
  background: #03A500;
}

#header-computer .header-menu #computer-nav a {
  padding: 5px;
  text-decoration: none;
  color: #D3D3D3;
}

@media (min-width: 450px) {
  #header-computer .header-menu #computer-nav a {
    font-size: 20px;
  }
}

@media (min-width: 900px) {
  #header-computer .header-menu #computer-nav a {
    font-size: 25px;
  }
}

#header-computer .header-menu .search {
  height: 30px;
  padding-left: 5px;
  font-size: 20px;
  color: black;
  border-radius: 9px;
  border: 2px solid black;
}

@media (min-width: 450px) {
  #header-computer .header-menu .search {
    width: 300px;
    margin: 5px 0;
  }
}

@media (min-width: 900px) {
  #header-computer .header-menu .search {
    margin-right: 20px;
  }
}
/*# sourceMappingURL=header.css.map */