//hlavicka pre sirku vacsiu ako maju mobily
#header-computer {
    position: fixed;
    width: 100%;
    font-family: 'Inter', sans-serif;
    //background: #282828;
    //skryte na mobile
    @media(min-width: 0px) {
        display: none;
    }
    //viditelne
    @media(min-width: 510px) {
        display: block;
    }
    //horna cast hlavicky
    .header-top {
        display: grid;
        align-items: center;
        padding: 10px;
        background: #282828;
        //
        @media(min-width: 450px) {
            grid-auto-flow: column;
            justify-content: space-between;
            gap: 5px;
        }
        //
        .logins {
            display: grid;
            grid-auto-flow: row;

            .bt-loged {
                display: grid;
                padding: 5px;
                font-weight: 600;
                font-size: 20px;
                color: white;
                background: #0E7619;
                border: 0;
                border-radius: 50%;
                //cursor: pointer;
            }
            //
            .ham-settings {
                //left: 10px;
                //left: -100%;
                padding: 5px 15px;
                margin-top: 33px;
                position: absolute;
                display: grid;
                background: #D9D9D9;
                border: 1px solid #000000;
                border-radius: 10px;

                .name {
                    display: grid;
                    justify-content: center;
                    font-weight: 400;
                    font-size: 25px;
                    text-decoration: underline;
                    color: black;
                }
                .profile {
                    margin-top: 5px;
                    display: grid;
                    justify-content: left;
                    font-weight: 400;
                    font-size: 20px;
                    text-decoration: none;
                    color: black;
                }
                .log-out {
                    margin-top: 15px;
                    display: grid;
                    justify-content: center;
                    font-weight: 400;
                    font-size: 20px;
                    text-decoration: none;
                    color: black;
                    background: #B6B6B6;
                    border: 1px solid #000000;
                    border-radius: 5px;
                }
            }

            .ham-settings.active {
                //left: 10px;
            }
        }
        //tlacidlo prihlasenia
        .bt-log-in {
            border: 2px solid black;
            border-radius: 15px;
            background: #03A500;
            //
            @media(min-width: 450px) {
                width: 80px;
                height: 35px;
                font-size: 20px;
            }
            @media(min-width: 500px) {
                //width: 84px;
                //height: 39px;
                //font-size: 22px;
            }
            @media(min-width: 900px) {
                width: 90px;
                height: 45px;
                font-size: 25px;
            }
            //text tlacidla
            a {
                text-decoration: none;
                color: black;
            }
        }
        //nazov webu
        .header-title {
            color: white;
            font-style: normal;
            //        
            @media(min-width: 450px) {
                font-weight: 600;
                font-size: 30px;
            }
            @media(min-width: 500px) {
                //font-weight: 600;
                //font-size: 35px;
            }
            @media(min-width: 900px) {
                font-weight: 800;
                font-size: 45px;
            }
        }
        //
        .logo {
            border-radius: 50%;
            //
            @media(min-width: 450px) {
                width: 35px;
            }
            @media(min-width: 500px) {
                //width: 40px;
            }
            @media(min-width: 900px) {
                width: 50px;
            }
        }
    }
    //menu hlavicky full
    .header-menu {
        display: grid;
        align-items: center;
        //padding: 10px;
        background: #004700;
        //
        @media(min-width: 450px) {
            grid-auto-flow: row;
            justify-items: center;
        }
        @media(min-width: 900px) {
            grid-auto-flow: column;
            justify-content: space-between;
        }
        //
        #computer-nav {
            display: grid;
            grid-auto-flow: column;
            gap: 5px;
            //
            .hide {
                display: none;
            }
            .actual {
                text-decoration: underline;
                color: #000000;
                background: #03A500;
                //background: rgb(204, 204, 204);
                //border: 1px solid black;
            }
            //
            a {
                padding: 5px;
                text-decoration: none;
                color: #D3D3D3;
                //
                @media(min-width: 450px) {
                    font-size: 20px;
                }
                @media(min-width: 500px) {
                    //font-size: 22px;
                }
                @media(min-width: 900px) {
                    font-size: 25px;
                }
                //
                &:hover {}
            }
        }
        //
        .search {
            height: 30px;
            padding-left: 5px;
            font-size: 20px;
            color: black;
            border-radius: 9px;
            border: 2px solid black;
            //
            @media(min-width: 450px) {
                width: 300px;
                margin: 5px 0;
            }
            @media(min-width: 800px) {
                //width: 240px;
                //margin-right: 10px;
            }
            @media(min-width: 900px) {
                //width: 350px;
                margin-right: 20px;
            }
        }
    }
    //
}
//