#header #header-computer {
  position: fixed;
  width: 100%;
}

@media (min-width: 0px) {
  #header #header-computer {
    display: none;
  }
}

@media (min-width: 426px) {
  #header #header-computer {
    display: block;
  }
}

#header #header-computer .header-top {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background: #282828;
}

@media (min-width: 0px) {
  #header #header-computer .header-top {
    grid-auto-flow: row;
    justify-items: center;
    gap: 5px;
  }
}

@media (min-width: 426px) {
  #header #header-computer .header-top {
    grid-auto-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 5px;
  }
}

#header #header-computer .header-top .bt-log-in {
  border: 2px solid black;
  background: #03A500;
  /*
                @media(min-width: 426px) {
                    width: 90px;
                    height: 45px;
                    font-size: 25px;
                    border-radius: 15px;
                }
                */
}

@media (min-width: 0px) {
  #header #header-computer .header-top .bt-log-in {
    width: 80px;
    height: 35px;
    font-size: 20px;
    border-radius: 30px;
  }
}

#header #header-computer .header-top .header-title {
  color: white;
  /*
                @media(min-width: 426px) {
                    font-weight: 800;
                    font-size: 45px;
                }
                */
}

@media (min-width: 0px) {
  #header #header-computer .header-top .header-title {
    font-weight: 600;
    font-size: 30px;
  }
}

#header #header-computer .header-top .logo {
  border-radius: 50%;
  /*
                @media(min-width: 426px) {
                    width: 50px;
                }
                */
}

@media (min-width: 0px) {
  #header #header-computer .header-top .logo {
    width: 35px;
  }
}

#header #header-computer .header-menu {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #004700;
}

@media (min-width: 0px) {
  #header #header-computer .header-menu {
    grid-auto-flow: row;
    justify-items: center;
  }
}

@media (min-width: 729px) {
  #header #header-computer .header-menu {
    grid-auto-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 0px) {
  #header #header-computer .header-menu #computer-nav {
    display: none;
  }
}

@media (min-width: 426px) {
  #header #header-computer .header-menu #computer-nav {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
  }
}

#header #header-computer .header-menu #computer-nav .actual {
  text-decoration: underline;
  color: black;
  background: #03A500;
}

#header #header-computer .header-menu #computer-nav a {
  padding: 5px;
  text-decoration: none;
  color: white;
}

@media (min-width: 0px) {
  #header #header-computer .header-menu #computer-nav a {
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  #header #header-computer .header-menu #computer-nav a {
    font-size: 25px;
  }
}

#header #header-computer .header-menu .search {
  height: 30px;
  padding-left: 5px;
  font-size: 20px;
  color: black;
  border-radius: 9px;
  border: 2px solid black;
}

@media (min-width: 0px) {
  #header #header-computer .header-menu .search {
    width: 180px;
    margin-bottom: 5px;
  }
}

@media (min-width: 426px) {
  #header #header-computer .header-menu .search {
    width: 240px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
}

@media (min-width: 726px) {
  #header #header-computer .header-menu .search {
    width: 240px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
}

#header #header-mobile {
  position: fixed;
  width: 100%;
}

@media (min-width: 0px) {
  #header #header-mobile {
    display: block;
  }
}

@media (min-width: 426px) {
  #header #header-mobile {
    display: none;
  }
}

#header #header-mobile .header-top {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  background: #282828;
}

@media (min-width: 0px) {
  #header #header-mobile .header-top {
    grid-auto-flow: row;
    justify-items: center;
    gap: 5px;
  }
}

@media (min-width: 426px) {
  #header #header-mobile .header-top {
    grid-auto-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 5px;
  }
}

#header #header-mobile .header-top #row .bt-log-in {
  border: 2px solid black;
  background: #03A500;
  /*
                    @media(min-width: 426px) {
                        width: 90px;
                        height: 45px;
                        font-size: 25px;
                        border-radius: 15px;
                    }
                    */
}

@media (min-width: 0px) {
  #header #header-mobile .header-top #row .bt-log-in {
    width: 80px;
    height: 35px;
    font-size: 20px;
    border-radius: 30px;
  }
}

#header #header-mobile .header-top #row .logo {
  border-radius: 50%;
  /*
                    @media(min-width: 426px) {
                        width: 50px;
                    }
                    */
}

@media (min-width: 0px) {
  #header #header-mobile .header-top #row .logo {
    width: 35px;
  }
}

#header #header-mobile .header-top .header-title {
  color: white;
  /*
                @media(min-width: 426px) {
                    font-weight: 800;
                    font-size: 45px;
                }
                */
}

@media (min-width: 0px) {
  #header #header-mobile .header-top .header-title {
    font-weight: 600;
    font-size: 30px;
  }
}

#header #header-mobile .header-menu .hamburger {
  position: relative;
  display: block;
  width: 35px;
  cursor: pointer;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  outline: none;
  border: none;
}

@media (min-width: 0px) {
  #header #header-mobile .header-menu .hamburger {
    display: block;
  }
}

@media (min-width: 426px) {
  #header #header-mobile .header-menu .hamburger {
    display: none;
  }
}

#header #header-mobile .header-menu .hamburger .bar, #header #header-mobile .header-menu .hamburger:after, #header #header-mobile .header-menu .hamburger:before {
  content: '';
  display: block;
  width: 100%;
  height: 5px;
  background-color: black;
  margin: 6px 0px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#header #header-mobile .header-menu .hamburger.is-active:before {
  -webkit-transform: rotate(-45deg) translate(-8px, 6px);
          transform: rotate(-45deg) translate(-8px, 6px);
}

#header #header-mobile .header-menu .hamburger.is-active:after {
  -webkit-transform: rotate(45deg) translate(-9px, -8px);
          transform: rotate(45deg) translate(-9px, -8px);
}

#header #header-mobile .header-menu .hamburger.is-active .bar {
  opacity: 0;
}

#header #header-mobile #header-menu {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #004700;
}

@media (min-width: 0px) {
  #header #header-mobile #header-menu {
    grid-auto-flow: row;
    justify-items: center;
  }
}

@media (min-width: 729px) {
  #header #header-mobile #header-menu {
    grid-auto-flow: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 0px) {
  #header #header-mobile #header-menu .comp-nav {
    display: none;
  }
}

@media (min-width: 426px) {
  #header #header-mobile #header-menu .comp-nav {
    display: -ms-grid;
    display: grid;
    grid-auto-flow: column;
  }
}

#header #header-mobile #header-menu .comp-nav #actual {
  text-decoration: underline;
  color: black;
  background: #03A500;
}

#header #header-mobile #header-menu .comp-nav a {
  padding: 5px;
  text-decoration: none;
  color: white;
}

@media (min-width: 0px) {
  #header #header-mobile #header-menu .comp-nav a {
    font-size: 20px;
  }
}

@media (min-width: 769px) {
  #header #header-mobile #header-menu .comp-nav a {
    font-size: 25px;
  }
}

#header #header-mobile #header-menu #header-nav {
  display: -ms-grid;
  display: grid;
}

#header #header-mobile #header-menu #header-nav .search {
  height: 30px;
  padding-left: 5px;
  font-size: 20px;
  color: black;
  border-radius: 9px;
  border: 2px solid black;
}

@media (min-width: 0px) {
  #header #header-mobile #header-menu #header-nav .search {
    width: 180px;
    margin-bottom: 5px;
  }
}

@media (min-width: 426px) {
  #header #header-mobile #header-menu #header-nav .search {
    width: 240px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
}

@media (min-width: 726px) {
  #header #header-mobile #header-menu #header-nav .search {
    width: 240px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
}

#header .mobile-nav {
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #12002F;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#header .mobile-nav.is-active {
  left: 0;
}

#header .mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 16px;
  text-align: center;
  padding: 12px 16px;
  background-color: #03A500;
  color: #FFF;
  text-decoration: none;
}

#header .mobile-nav a:hover {
  background-color: #24104f;
}

@media (min-width: 768px) {
  #header .mobile-nav {
    display: none;
  }
  #header .hamburger {
    display: none;
  }
}

#header .button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  outline: none;
  background: none;
  display: inline-block;
  color: #FFF;
  font-size: 20px;
  background-color: #FF9FDB;
  padding: 12px 16px;
  border-radius: 8px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

@media (max-width: 767px) {
  #header .button {
    font-size: 18px;
  }
}
/*# sourceMappingURL=header-pc.css.map */